#div1 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: -300px;
    background-color: rgb(133, 75, 75);
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    /* transition: transform 5s, height 5s;
    -webkit-transition: transform 5s, height 5s;
    -moz-transition: transform 5s, height 5s;
    -ms-transition: transform 5s, height 5s;
    -o-transition: transform 5s, height 5s; */
}

#div1:hover {
    /* transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    height: 450px; */
}

@keyframes move {
    0% {
        top: 0px;
        left: -300px;
    }

    25% {
        top: 0px;
        left: 500px;
    }

    75% {
        top: 200px;
        left: 500px;
    }

    100% {
        top: 200px;
        left: 0px;
    }

}